/* A partir daqui é o css da página contactos.html */

.body-contactos {
    background-color: rgba(46, 46, 46, 0.882);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-contactos {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    background-color: rgba(46, 46, 46, 0.964);
    padding: 15px;
}
#fale-conosco{
    color: white;
    position: relative;
    top: 20px;
    right: 60px;
}
#meuFormulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-top: 40px;
}
input{
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(221, 221, 221);
}
label{
    color: white;
}
#btn-enviar{
    background-color: rgba(46, 46, 46, 0.964);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.2s;
}
#btn-enviar:hover{
    background-color: #0d4c04de;
    color: rgb(255, 255, 255);
}
#mensagem{
    background-color: rgb(221, 221, 221);
    border-radius: 7px;
    border: 1px solid #000000;
    margin: 5px;
    padding: 10px;
}
